/NewChat_Bluetooth/nbproject/private/
/NewChat_Bluetooth/dist/
/NewChat_Bluetooth/build/
/NewChat_Socket/nbproject/private/
/NewChat_Socket_Server/nbproject/private/
/NewChat_Socket/build/
/NewChat_Socket/dist/
/JavaApplication8/nbproject/private/
/JavaApplication8/build/
/OpenImaj/nbproject/private/
/OpenImaj_Jframe/nbproject/private/
/OpenImaj_Socket_Server/nbproject/private/
/OpenImaj_Socket_Client/dist/
/ThreadsTests/build/
/ThreadsTests/dist/
/ThreadsTests/nbproject/private/